@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  cursor: default;
}
#root {
  display: block;
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
}

:root {
  --header-height: 64px;
}

@media screen and (min-width: 768px) {
  :root {
    --header-height: 96px;
  }
}
